body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
}

h1 {
    color: #222;
    font-size: 3em;
    margin-top: 0;
    text-align: center;
    color: #408C75;
}

button.enregistrer {
    margin: 0 auto;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    background-color: #408C75;
    color: #fff;
    border-radius: 20px;
    font-size: 1.2em;
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(64, 140, 117, 0.5); /* Ombre avec une couleur similaire */
}
button.ignore{
    margin: 0 auto;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    font-size: 1.2em;
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(64, 140, 117, 0.5); /* Ombre avec une couleur similaire */
   
}

input[type="text"] {
    width: 800px;
    height: 200px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 0 60px rgba(64, 140, 117, 0.5); /* Ombre avec une couleur similaire */
    margin-bottom:-200px;
}
h4{
    font-size: 2.5em;
    margin-top: 30px;
}

/* Styles pour le conteneur de l'image */
.image-container {
    width: 60px; /* Largeur du cadre */
    height: 60px; /* Hauteur du cadre */
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 20px;
    overflow: hidden; /* Empêche le dépassement du cadre */
}

/* Styles pour l'image de profil */
.image-container img {
    width: 100%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
    height: 100%; /* Assurez-vous que l'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* Redimensionner l'image pour remplir le conteneur en conservant les proportions */
}
.img2 {
    position: absolute;
    top: 50%;
    right: 0; 
    transform: translateY(-50%);
    width: 500px;
    height: 400px;
}


.user-info {
    display: inline-block; /* Afficher en ligne */
    vertical-align: middle; /* Aligner verticalement au milieu */
}

p {
    font-size: 2em;
    margin-top: 20px;
}


