/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:-900px;

}

/* Header styles */
.header {
    background-color: #408C75;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header h3 {
    color: white;
    font-style: italic;
}

/* Content styles */
.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-bottom:-500px;

}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #408C75;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* Link styles */
a {
    display: block;
    margin-bottom: 10px;
    color: #408C75;
    text-decoration: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.annuler {
    background-color: #ccc;
    color: black;
}
.continue {
    background-color: #408C75;
    color:white;
}
